.analysis_section {
  display: flex;
  overflow: scroll;
}

.analysis_section_call, .analysis_section_recieve {
  width: 460px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  margin-bottom: 60px;
  margin-right: 60px;
  height: auto;
}

.analysis_top {
  border-bottom: 1px solid #EEEEEE;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  margin-bottom: 16px;
}

.analysis_top p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #3D3C42;
  margin-bottom: 26px;
}

.close {
  position: absolute;
  top: -25px;
  right: 18px;
  cursor: pointer;
}

.analytics, .analytics label, .textarea_label, .analytics input, .analytics button, .analytics select {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #7E7E7E;
}

span, .analytics select {
  font-weight: 600;
  color: #000;
}

select {
  position: relative;
  width: 97%;
  height: 38px;
  background-color: #F9FBFF;
  background: #F9FBFF;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #3D3C42;
  font-family: Montserrat;
  background: url("../img/chevron-down_1.svg") no-repeat right center !important;
}

.background_select {
  width: 100%;
}

.analytics p {
  margin-bottom: 10px;
}

.select_analysis {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select_analysis label {
  margin-right: 9px;
}

.background_select input {
  position: relative;
  width: 97%;
  height: 38px;
  background-color: #F9FBFF;
  background: #F9FBFF;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #3D3C42;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 20px;
}

.checkboxes {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check_left, .check_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.check input {
  width: 24px;
  height: 24px;
  border: 1px solid #B5BBD9;
  border-radius: 4px;
  margin-right: 8px;
}

.textarea_label {
  display: flex;
  flex-direction: column;
}

textarea:focus {
  outline: none;
}

.textarea_label textarea {
  height: 158px;
  background-color: #F9FBFF;
  border-radius: 10px;
  width: 100%;
  border: none;
  color: #000;
  resize: none;
  padding: 10px 15px;
  font-family: Montserrat;
  margin-top: 10px;
  font-weight: 600;
}

.form_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form_buttons input, .form_buttons button {
  border: none;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
}

.close_but {
  background-color: #C1C1C1;
  cursor: pointer;
}

.send {
  background-color: #0F5FC2;
}

.sub_but {
  background-color: #A72335;
}

.popup {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 11;
}

.background_black {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
}

@media screen and (max-width: 900px) {
  .popup {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}