.header_datepicker {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  align-items: center;
}

.header_datepicker label {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  margin-right: 10px;
}

.header_datepicker input {
  margin: 0;
  width: 216px;
  height: 38px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 12px;
  border: none;
  padding: 0 13px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #3D3C42;
  font-family: Montserrat;
}

.header_datepicker input::placeholder {
  color: #3D3C42;
}

.submit_date {
  width: 154px !important;
  background-color: #A72335 !important;
  border-radius: 4px !important;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF !important;
  font-family: Montserrat !important;
  cursor: pointer;
}

.submit_date:hover {
  color: #A72335 !important;
  background-color: #fff !important;
  border: 1px solid #A72335;
}

.main_section {
  background-color: #fff;
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 40px;
  position: relative;
  padding-bottom: 0;
}

.table_filters {
  display: flex;
  justify-content: space-between;
}

.table_filter {
  display: flex;
  flex-direction: column;
  width: 154px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #7E7E7E;
  align-items: center;
}

select:focus {
  outline: none;
}

.table_filter select {
  position: relative;
  width: 148px;
  height: 38px;
  background-color: #F9FBFF;
  background: #F9FBFF;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding: 0 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #3D3C42;
  font-family: Montserrat;
  background: url("../img/chevron-down_1.svg") no-repeat right center !important;
}

.background_select {
  width: 154px;
  height: 38px;
  background-color: #F9FBFF;
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 10px;
}

tr {
  height: 60px;
}

td, th {
  padding-left: 20px;
}

.filter_submit {
  background-color: #A72335;
  border-radius: 10px;
  width: 154px;
  height: 57px;
  border: none;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.filter_submit:hover {
  color: #A72335 !important;
  background-color: #fff !important;
  border: 1px solid #A72335;
}

.calls_table {
  margin-top: 20px;
  width: 100%;
  height: 83%;
  padding-bottom: 60px;
}

.calls_table th {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  text-align: left;
}

.calls_table td {
  border-bottom: 1px solid #EEEEEE;
  height: 11%;
  font-size: 14px;
  width: auto;
}

tr:last-child {
  margin-bottom: 50px;
}

.table_menu {
  height: 21px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 27px;
  width: calc(100% - 80px);
}

.table_menu p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.pagination {
  display: flex;
}

.pagination_page {
  width: 25px;
  height: 25px;
  border: 1px solid #EEEEEE;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #404B52;
  padding: 0;
  cursor: pointer;
}

.pag_dots {
  margin-left: 12px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #000000;
}

.pagination_active, .pagination_page:hover {
  background-color: #A72335;
  color: #fff;
}

.order_font_big {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292D32;
}

.big_width_col {

}

.details_button {
  width: 84px;
  height: 29px;
  background: #16C098;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: #EFFFF6;
  font-size: 14px;
  cursor: pointer;
  float: left;
}

.big_td {
  position: relative;
}

.operator_header {
  display: flex;
}

.operator_header .date_of_begin {
  margin-right: 43px;
}

@media screen and (max-width: 1600px) {
  .calls_table td {
    font-size: 12px;
  }

  .header_datepicker, .operator_header {
    align-items: flex-end;
  }
}
@media screen and (max-width: 1250px) {
  .calls_table {
    width: 1200px;
  }

  .main_section {
    overflow: hidden;
  }

  .table_container {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 950px) {
  .table_filters {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table_filter {
    margin-bottom: 10px;
  }

  .table_filters input {
    margin-top: 10px;
  }

  .table_filter select {
    margin-bottom: 20px;
  }

  .background_select {
    width: 100%;
  }

  .header_datepicker, .operator_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header_datepicker input, .operator_header input {
    margin-top: 10px;
  }

  .table_info {
    display: none;
  }
}